<div type="group" class="sdpi-item">
  <div class="sdpi-heading">Icon</div>
  <div class="sdpi-item">
    <div class="sdpi-item-label">Custom Image</div>
    <div class="sdpi-item-group file">
      <input class="sdpi-item-value" id="custom-image-input" type="file" accept=".jpg, .jpeg, .png">
      <div class="sdpi-item-preview">
        <img class= alt="Custom icon" id="custom-image" width="40" height="40">
      </div>
      <label class="sdpi-file-label" for="custom-image-input">Select Image</label>
    </div>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Type</div>
    <select class="sdpi-item-value" id="badge-type">
      <option value="number" selected>Shows Number</option>
      <option value="indicator">Indicator Only</option>
      <option value="title">Use Title</option>
      <option value="hidden">Hidden</option>
    </select>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Position</div>
    <select class="sdpi-item-value" id="badge-position">
      <option value="topright" selected>Top Right</option>
      <option value="bottomright">Bottom Right</option>
      <option value="topleft">Top Left</option>
      <option value="bottomleft">Bottom Left</option>
    </select>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Color</div>
    <input class="sdpi-item-value" type="color" id="badge-color">
  </div>
</div>