<div type="group" class="sdpi-item">
  <div class="sdpi-heading">Icon</div>
  <div class="sdpi-item">
    <div class="sdpi-item-label">Custom Image</div>
    <div class="sdpi-item-group file">
      <input class="sdpi-item-value" id="custom-image-input" type="file" accept=".jpg, .jpeg, .png">
      <div class="sdpi-item-preview">
        <img class= alt="Custom icon" id="custom-image" width="40" height="40">
      </div>
      <label class="sdpi-file-label" for="custom-image-input">Select Image</label>
    </div>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Type</div>
    <select class="sdpi-item-value" id="badge-type">
      <option value="number" selected>Shows number</option>
      <option value="indicator">Indicator only</option>
      <option value="title">Use title</option>
      <option value="hidden">Hidden</option>
    </select>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Position</div>
    <select class="sdpi-item-value" id="badge-position">
      <option value="topright" selected>Top right</option>
      <option value="bottomright">Bottom right</option>
      <option value="topleft">Top left</option>
      <option value="bottomleft">Bottom left</option>
    </select>
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label">Badge Color</div>
    <input class="sdpi-item-value" type="color" id="badge-color">
  </div>

  <div class="sdpi-item">
    <div class="sdpi-item-label" title="Image effects to apply to the icon when there are no results">Empty Effect</div>
    <input class="sdpi-item-value" type="checkbox" name="no-result-effect" value="desaturate" id="desaturate-enabled">
    <label for="desaturate-enabled" title="Turn the icon grayscale when there are no results"><span></span> Desaturate</label>
  </div>
</div>
