[hidden] {
  display: none;
}

select {
  margin-top: 2px;
  margin-bottom: 2px;
}

input[type="color"] {
  margin-left: 3px;
  padding: 0 !important;
}

.sdpi-item-value + .sdpi-item-value {
  min-width: auto;
}

.sdpi-item-preview {
  background: #333;
  margin-left: 4px;
  position: relative;
  width: 40px;
  height: 40px;
}

.sdpi-item-preview.preview-visible:hover:after {
  content: '\2715';
  align-items: center;
  background: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.polling-status {
  text-align: right;
  padding-right: 14px !important;
  width: 100%;
}

.polling-status .success {
  color: lightgreen;
}

.polling-status .warning {
  color: yellow;
}
